@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');


body
{
    background-color: white;
}
p{
    font-family: 'Comic Neue', cursive;;
    font-size: 50px;
    alignment: center;

}
p1
{
    font-family: 'Comic Neue', cursive;;
    font-size: 50px;
    padding-left: 22%;
}
p2
{
    font-family: 'Comic Neue', cursive;;
    font-size: 50px;
    padding-left: 22%;
}
p3
{
    font-family: 'Comic Neue', cursive;;
    font-size: 20px;
}
p4{
    font-family: 'Comic Neue', cursive;;
    font-size: 50px;
}
p5{
    font-family: 'Comic Neue', cursive;;
    font-size: 30px;
}
p6{
    font-family: "Andale Mono";
}
p7{
    font-family: 'Comic Neue', cursive;;
    font-size: 30px;
    padding-left: 20%;
}