body
{
    background-color: white;
}
p{
    font-family: "American Typewriter";
    font-size: 50px;
    padding-left: 10%;
    alignment: center;

}
p1
{
    font-family: "American Typewriter";
    font-size: 50px;
    padding-left: 22%;
}
p2
{
    font-family: "American Typewriter";
    font-size: 50px;
    padding-left: 22%;
}
p3
{
    font-family: "American Typewriter";
    font-size: 20px;
}
p4{
    font-family: "American Typewriter";
    font-size: 50px;
}
p5{
    font-family: "American Typewriter";
    font-size: 30px;
}
p6{
    font-family: "Andale Mono";
}